<!DOCTYPE html>
<html>
 <head>
  <style type="text/css">
   .turbolinks-progress-bar{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 3px;
    background: #0076ff;
    z-index: 9999;
    transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
    transform: translate3d(0,0,0);
   }
  </style>
  <link rel="stylesheet" media="all" href="/assets/application-d12397c.css" data-turbolinks-track="reload">
  <script src="/assets/application-114264.js" data-turbolinks-track="reload"></script>
<body>
 <p id="notice"></p>
 <h1>Books</h1>
 
 <table>
  <thead>
   <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
   </tr>
  </thead>
 <tbody>
  <tr>
   <td>リーダブルコード</td>
   <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
   <td>
    <a class="show_17" href="/books/17">Show</a>
   </td>
   <td>
    <a class="edit_17" href="/books/17/edit">Edit</a>
   </td>
   <td>
    <a data-confirm="Are you sure?" class="destroy_17" rel="nofollow" data-method="delete" href="/books/17">Destroy</a>
   </td>
   </tr>
  <tr>
   <td>トラブル知らずのシステム設計</td>
   <td>システム設計の要点を図解で説明してくれます</td>
   
   <td>
    <a class="show_21" href="/books/21">Show</a>
   </td>
   <td>
    <a class="edit_21" href="/books/21/edit">Edit</a>
   </td>
   <td>
    <a data-confirm="Are you sure?" class="destroy_21" rel="nofollow" data-method="delete" href="/books/21">Destroy</a>
   </td>
  </tr>
  
  <tr>
   <td>たのしいRuby</td>
   <td>Rubyの入門におすすめです</td>
   
   <td>
    <a class="show_22" href="/books/22">Show</a>
   </td>
   <td>
    <a class="edit_22" href="/books/22/edit">Edit</a>
   </td>
   <td>
    <a data-confirm="Are you sure?" class="destroy_22" rel="nofollow" data-method="delete" href="/books/22">Destroy</a>
   </td>
  </tr>
  
  <tr>
   <td>入門Git</td>
   <td>gitについての基本操作から内部構造まで解説してくれます</td>
   
   <td>
    <a class="show_23" href="/books/23">Show</a>
   </td>
   <td>
    <a class="edit_23" href="/books/23/edit">Edit</a>
   </td>
   <td>
    <a data-confirm="Are you sure?" class="destroy_23" rel="nofollow" data-method="delete" href="/books/23">Destroy</a>
   </td>
  </tr>
  
  <tr>
   <td>アルゴリズム図鑑</td>
   <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
   
   <td>
    <a class="show_24" href="/books/24">Show</a>
   </td>
   <td>
    <a class="edit_24" href="/books/24/edit">Edit</a>
   </td>
   <td>
    <a data-confirm="Are you sure?" class="destroy_24" rel="nofollow" data-method="delete" href="/books/24">Destroy</a>
   </td>
  </tr>
  
  <tr>
   <td>達人プログラマー</td>
   <td>プログラマ入門者は必読！</td>
   
   <td>
    <a class="show_25" href="/books/25">Show</a>
   </td>
   <td>
    <a class="edit_25" href="/books/25/edit">Edit</a>
   </td>
   <td>
    <a data-confirm="Are you sure?" class="destroy_25" rel="nofollow" data-method="delete" href="/books/25">Destroy</a>
   </td>
  </tr>
  
  <tr>
   <td>データベース実践入門</td>
   <td>効率的なSQL文を教えてくれます</td>
   
   <td>
    <a class="show_26" href="/books/26">Show</a>
   </td>
   <td>
    <a class="edit_26" href="/books/26/edit">Edit</a>
   </td>
   <td>
    <a data-confirm="Are you sure?" class="destroy_26" rel="nofollow" data-method="delete" href="/books/26">Destroy</a>
   </td>
  </tr>
 </tbody>
</table>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
 
 <h4>Title</h4>
 <%= f.text_field :title %>
 
 <h4>Body</h4>
 <%= f.text_area :body %>

 <%= f.submit  'Create Book' %>
<% end %>

</body>